@model List<Booking>

@{
	ViewData["Title"] = "My Bookings";
}

<div class="bg-transparent div-centerx">
	<div class="rounded-3 shadow overflow-auto p-3" style="background-color:#F5F5F5; width:850px;height:800px">

		<div class="accordian" id="bookings">
			@foreach (Booking booking in Model)
			{
				string bookingId = booking.BookingId.ToString();
				<div class="accordion-item">
					<h5 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse" + booking.BookingId)">
							<div class="d-flex justify-content-between" style="width:100%; height:100%">
								<h5>Booking Id: @booking.BookingId</h5>
								<h6>@booking.BookingDate.Value.ToString("t")</h6>
								<h5>@booking.BookingDate.Value.ToString("dd MMM, yyyy")</h5>
								<h5>@booking.Status</h5>
							</div>
						</button>
					</h5>
					<div id="@("collapse" + booking.BookingId)" class="accordion-collapse collapse" data-bs-parent="#bookings">
						<div class="accordion-body">
							<div class="mx-auto py-1">
								@foreach (Ticket ticket in booking.Tickets)
								{
									<div class="border m-2 d-flex shadow">
										@* Ticket *@
										<div class="border-end rounded-start" style="width:67%">
											@* Ticket Heading *@
											<div class="d-flex rounded-start justify-content-between" style="height:55px; color:#E0EEFC; background-color:#003783">
												<div class="d-flex">
													<i class="bi bi-airplane-fill my-auto px-2"></i>
													<h3 class="my-auto fw-normal">JX Travels</h3>
												</div>
												<div class="flex-column">
													<h5 class="fw-normal text-end pe-2">Boarding Pass</h5>
													<h6 class="fw-normal text-end pe-2"><i>@ticket.Class</i></h6>
												</div>
											</div>
											@* Ticket details *@
											<div>
												<div class="px-4 py-2 d-block" style="line-height:1">
													<span class="d-block text-secondary fw-light small">Passenger Name</span>
													<span class="d-block text-uppercase">@ticket.Passenger.Name</span>
												</div>
												<div class="d-flex">
													<div class="px-4" style="width:50%">
														<div class="py-2" style="line-height:1">
															<span class="d-block text-secondary fw-light small">From</span>
															<span class="d-block text-uppercase">@ticket.Flight.DepartureAirport.City</span>
														</div>
														<div class="py-2" style="line-height:1">
															<span class="d-block text-secondary fw-light small">To</span>
															<span class="d-block text-uppercase">@ticket.Flight.ArrivalAirport.City</span>
														</div>
														<div class="py-2" style="line-height:1">
															<span class="d-block text-secondary fw-light small">Flight</span>
															<span class="d-block text-uppercase fw-bold">@ticket.Flight.FlightNumber</span>
														</div>
													</div>
													<div class="px-4" style="width:50%">
														<div class="py-2" style="line-height:1">
															<span class="d-block text-secondary fw-light small">Carrier</span>
															<span class="d-block text-uppercase">@ticket.Flight.AirlineName</span>
														</div>
														<div class="py-2 d-flex justify-content-between" style="line-height:1">
															<div style="width:50%">
																<span class="d-block text-secondary fw-light small">Date</span>
																<span class="d-block text-uppercase">@ticket.Flight.DepartureTime.ToShortDateString()</span>
															</div>
															<div style="width:50%">
																<span class="d-block text-secondary fw-light small">Time</span>
																<span class="d-block text-uppercase">@ticket.Flight.DepartureTime.ToShortTimeString()</span>
															</div>
														</div>
														<div class="py-2" style="line-height:1">
															<span class="d-block text-secondary fw-light small">Board Till</span>
															<span class="d-block text-uppercase fw-bold">@ticket.Flight.DepartureTime.AddMinutes(-30).ToShortTimeString()</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="border-start rounded-end" style="width:33%">
											<div class="flex-column" style="height:55px; color:#E0EEFC; background-color:#003783">
												<h5 class="fw-normal text-end pe-2">Boarding Pass</h5>
												<h6 class="fw-normal text-end pe-2"><i>@ticket.Class</i></h6>
											</div>

											<div class="px-4" style="width:100%">
												<div class="py-2 d-block" style="line-height:1">
													<span class="d-block text-secondary fw-light small">Passenger Name</span>
													<span class="d-block text-uppercase">@ticket.Passenger.Name</span>
												</div>
												<div class="py-2 d-flex justify-content-between" style="line-height:1">
													<div style="width:50%">
														<span class="d-block text-secondary fw-light small">From</span>
														<span class="d-block text-uppercase">@ticket.Flight.DepartureAirport.City</span>
													</div>
													<div style="width:50%">
														<span class="d-block text-secondary fw-light small">To</span>
														<span class="d-block text-uppercase">@ticket.Flight.ArrivalAirport.City</span>
													</div>
												</div>
												<div class="py-2 d-flex justify-content-between" style="line-height:1">
													<div style="width:50%">
														<span class="d-block text-secondary fw-light small">Date</span>
														<span class="d-block text-uppercase">@ticket.Flight.DepartureTime.ToShortDateString()</span>
													</div>
													<div style="width:50%">
														<span class="d-block text-secondary fw-light small">Time</span>
														<span class="d-block text-uppercase">@ticket.Flight.DepartureTime.ToShortTimeString()</span>
													</div>
												</div>
												<div class="py-2 d-flex justify-content-between" style="line-height:1">
													<div style="width:50%">
														<span class="d-block text-secondary fw-light small">Flight</span>
														<span class="d-block text-uppercase fw-bold">@ticket.Flight.FlightNumber</span>
													</div>
													<div style="width:50%">
														<span class="d-block text-secondary fw-light small">Board Till</span>
														<span class="d-block text-uppercase fw-bold">@ticket.Flight.DepartureTime.AddMinutes(-30).ToShortTimeString()</span>
													</div>
												</div>
											</div>
										</div>

									</div>
								}
							</div>
						</div>
					</div>
				</div>

				
			}
		</div>

		@if (Model.Count<=0)
		{
			<div class="div-center" style="height:400px">
				<h1 class="text-center text-danger fw-light" style="font-size:90px">
					<i class="bi bi-emoji-frown"></i><br>
					No Previous bookings!
				</h1>
			</div>
		}
	</div>
	
</div>