@model List<Flight>

@{
	ViewData["Title"] = "FLight's List";
}

<div class="bg-white rounded mx-5" style="height:800px">
	<div>
		<div class="bg-white border-bottom rounded py-1 px-4 d-flex justify-content-between">
			@* Title *@
			<div>
				<h1 class="fw-light" style="color:#003783">Flights</h1>
			</div>
			@{
				if (TempData["msg"]!=null)
				{
					<span class="alert alert-info">
						@TempData["msg"]
					</span>
				}
			}
			<div>
				<a asp-action="AddFlight" class="btn btn-success float-end mt-2" style="width:125px">
					<i class="bi bi-plus-circle float-start"></i>Add
				</a>
			</div>
		</div>
		<div class="mx-auto pt-3 px-4" style="">
			@* Flight Table *@
			<table class="table table-sm table-hover shadow-sm">
				<thead style="color:#003783; background-color:#E0EEFC">
					<tr>
						<th class="fs-5 " scope="col">Id</th>
						<th class="fs-5 fw-normal" scope="col">AirlineName</th>
						<th class="fs-5 fw-normal" scope="col">AircraftType</th>
						<th class="fs-5 fw-normal" scope="col">FlightNumber</th>
						<th class="fs-5 fw-normal" scope="col">DepartureAirport</th>
						<th class="fs-5 fw-normal" scope="col">ArrivalAirport</th>
						<th class="fs-5 fw-normal" scope="col">DepartureTime</th>
						<th class="fs-5 fw-normal" scope="col">ArrivalTime</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="bg-white">
					@{
						foreach (Flight flight in Model)
						{
							<tr>
								<td class="fw-bold">@flight.FlightId</td>
								<td>@flight.AirlineName</td>
								<td>@flight.AircraftType</td>
								<td>@flight.FlightNumber</td>
								<td>@flight.DepartureAirportCode - @flight.DepartureAirport.City</td>
								<td>@flight.ArrivalAirportCode - @flight.DepartureAirport.City</td>
								<td>@flight.DepartureTime</td>
								<td>@flight.ArrivalTime</td>

								<td>
									<div class="dropdown">
										<button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="bi bi-three-dots-vertical"></i>
										</button>
										<ul class="dropdown-menu">
											@*<li><a class="dropdown-item" href="#" style="color:#003783"><i class="bi bi-eye"></i> View</a></li>*@
											<li><a asp-action="EditFlight" asp-route-id="@flight.FlightId" class="dropdown-item" style="color:#003783"><i class="bi bi-pencil"></i> Edit</a></li>
											<li><a asp-action="DeleteFlight" asp-route-id="@flight.FlightId" class="dropdown-item text-danger"><i class="bi bi-trash3"></i> Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
						}
					}

				</tbody>
			</table>
		</div>
	</div>
</div>