@model FlightQueryModel

<div class="text-white">
	<h2>from - @Model.From</h2>
	<h2>To - @Model.To</h2>
	<h2>Departure - @Model.Departure.ToString("d")</h2>
	<h2>Passengers - @Model.Passengers</h2>
	<h2>Class - @Model.Class</h2>
</div>