@model List<List<Flight>>

@{
	ViewData["Title"] = "Flight Search Result";
}

<div class="container-fluid full-width p-4" style="background-color:#F5F5F5; min-height:650px">
	<div class="container bg-white my-2 rounded-3 shadow border" style="width:1024px">
		@foreach (var flightDetail in Model)
		{
			if (flightDetail.Count<=0)
			{
				break;
			}
			<div class="row border-bottom" style="height:125px">
				<div class="col-7 div-center">
					<div class="div-center" style="height:90%;width:95%;">
						@* LOGO *@
						<div class="div-center" style="height:90%;width:15%">
							<h3>@flightDetail[0].AirlineName</h3>
						</div>
						@* FLIGHT DETAILS *@
						<div class="div-centery" style="height:90%;width:85%">
							<div class="lh-1 div-centery justify-content-end pe-1" style="height:100%;width:25%;">
								<p class="text-end fw-normal m-0">
									<span class="fs-5 fw-normal">@flightDetail[0].DepartureAirportCode</span><br>
									<span class="fs-2">@flightDetail[0].DepartureTime.ToString("H:mm")</span><br>
									<span class="small fw-light">@flightDetail[0].DepartureTime.ToString("ddd, dd MMM")</span><br>
									<span class="small fw-lighter">@flightDetail[0].DepartureAirport.City</span><br>
								</p>
							</div>
							<div class="text-center" style="height:100%;width:50%">
								<div class="mx-auto border-bottom p-0 pt-4" style="height:50%;width:80%;">
									<span>
										@{
											TimeSpan duration = flightDetail[flightDetail.Count - 1].ArrivalTime - flightDetail[0].DepartureTime;
										}
										@duration.Hours hr  @duration.Minutes min
									</span>
								</div>
								<div class="mx-auto border-top" style="height:50%;width:80%">
									@if (flightDetail.Count == 1)
									{
										<span>non stop</span>
									} else if (flightDetail.Count == 2)
									{
										<span>1 stop</span>
									} else if (flightDetail.Count == 3)
									{
										<span>2 stop</span>
									}
								</div>

							</div>
							<div class="lh-1 div-centery justify-content-start ps-1" style="height:100%;width:25%;">
								<p class="text-start fw-normal m-0">
									<span class="fs-5 fw-normal">@flightDetail[flightDetail.Count-1].ArrivalAirportCode</span><br>
									<span class="fs-2">@flightDetail[flightDetail.Count-1].ArrivalTime.ToString("H:mm")</span><br>
									<span class="small fw-light">@flightDetail[flightDetail.Count-1].ArrivalTime.ToString("ddd, dd MMM")</span><br>
									<span class="small fw-lighter">@flightDetail[flightDetail.Count-1].ArrivalAirport.City</span><br>
								</p>
							</div>
						</div>
					</div>
				</div>
				@* PRICE *@
				<div class="col" style="display:flex; justify-content:center; align-items:center">
					<div class="div-center" style="height:45%;width:55%">
						<h3 class="justify-content-end" style="color:#FF5815">
							@{
								float totalFare = 0f;
								foreach (var flight in flightDetail)
								{
									var flightSeat = flight.SeatInventories.FirstOrDefault();
									if (flightSeat != null)
									{
										totalFare += flightSeat.Price;
									}
								}
							}
							&#8377;@totalFare
						</h3>
					</div>
					<div class="div-center" style="height:90%;width:45%;">
						<button type="button" class="text-white border-0 rounded justify-content-start" style="width:80%; background-color:#FF5815">
							<h5>Book</h5>
						</button>
					</div>
				</div>
			</div>
			@* Collabsable area *@
			<div class="row div-centerx">
				<a class="text-center text-decoration-none" data-bs-toggle="collapse" href="#collapse-@flightDetail[0].FlightId" role="button" aria-expanded="false" aria-controls="">
					<span style="color:#FF5815">Flight Details<i class="bi bi-chevron-down"></i></span>
				</a>
				@* Collabsable area *@
				<div class="collapse" id="collapse-@flightDetail[0].FlightId" style="width:600px">
					@foreach (var flight in flightDetail)
					{
						<div class="mb-3" style="width:100%;">
							<div class="d-flex border-top border-bottom">
								<span class="p-2">@flight.AirlineName</span><i class="bi bi-dash p-2"></i>
								<span class="p-2">@flight.AircraftType</span><i class="bi bi-dash p-2"></i>
								<span class="p-2">@flight.SeatInventories.FirstOrDefault().Class</span>
							</div>
							<div class="d-flex" style="width:100%">
								<div style="width:100%">
									<div class="div-center justify-content-start ps-1" style="height:100%;width:100%;">
										@* FLIGHT DETAILS *@
										<div class="div-centery" style="height:90%;width:100%">
											<div class="lh-1 div-centery justify-content-end p-1 mb-2" style="height:100%;width:30%;">
												<p class="text-end fw-normal m-0">
													<div style="width:100%">
														<div class="d-flex my-1 justify-content-start">
															<span class="fs-3 fw-light px-1">@flight.DepartureAirportCode</span>
															<span class="fs-3">@flight.DepartureTime.ToString("H:mm")</span>
														</div>
														<span class="fs-5 fw-light text-secondary d-block mb-1 text-start">@flight.DepartureTime.ToString("ddd, dd MMM")</span>
														<span class="small fw-light text-secondary d-block text-start text-truncate">@flight.DepartureAirport.Name</span>
														<span class="small fw-light text-secondary d-block text-start">@flight.DepartureAirport.City</span>
													</div>
												</p>
											</div>
											<div class="text-center" style="height:100%;width:40%">
												<div class="mx-auto p-0 pt-4" style="height:100%;width:80%;">
													<i class="bi bi-clock"></i><br>
													<span class="text-secondary">@flight.FlightDuration.ToString(@"hh")hr @flight.FlightDuration.ToString(@"mm")min</span>
												</div>
											</div>
											<div class="lh-1 div-centery justify-content-end p-1 mb-2" style="height:100%;width:30%;">
												<p class="text-end fw-normal m-0">
													<div style="width:100%">
														<div class="d-flex my-1 justify-content-end">
															<span class="fs-3 fw-light px-1">@flight.ArrivalAirportCode</span>
															<span class="fs-3">@flight.ArrivalTime.ToString("H:mm")</span>
														</div>
														<span class="fs-5 fw-light text-secondary d-block mb-1 text-end">@flight.ArrivalTime.ToString("ddd, dd MMM")</span>
														<span class="small fw-light text-secondary d-block text-end text-truncate">@flight.ArrivalAirport.Name</span>
														<span class="small fw-light text-secondary d-block text-end">@flight.ArrivalAirport.City</span>
													</div>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
		}
	</div>
	@if (Model.Count < 1)
	{
		<div class="div-center " style="height:400px">
			<h1 class="text-center text-danger fw-light" style="font-size:100px">
				<i class="bi bi-emoji-frown"></i><br>
				No Flights Found!</h1>
		</div>
	}
</div>